*
{
      padding: 0;
      margin: 0;
}
.header
{
      height: 80px;
      width: 100%;
      background: #34495e;
      display: flex;
      justify-content: space-between;
}
.header_logo img
{
    height: 60px;
    width: 50px;
    padding: 10px 100px;
    border-radius: 50%;
}
.header_menu 
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 1vw;
color: #fff;
text-transform: uppercase;
gap: 50px;
padding-right: 80px;
text-decoration: none;
list-style: none;
}
.header_menu li a
{
      font-size: 1vw;
      color: #fff; 
      text-decoration: none;
       list-style: none;     
}
.header_menu-1:hover,
.header_menu-2:hover,
.header_menu-3:hover,
.header_menu-4:hover,
.header_menu-5:hover
{
      border: 1px solid white;
      transition: .5s;
      padding: 5px;
}
.main_image
{
      height: 100px;
      width: 20px;
}
.footer
{
      background-color: #24262b;
      padding: 0px 0;

}
.footer_col
{
      width: 25%;
     padding: 0 15px;

}
.footer_col h4
{
      font-size: 24px;
      color: #ffff;
      text-transform: capitalize;
      margin-bottom: 30px;
      font-weight: 500;
      position: relative;
}
.footer_col h4::before
{
      content: "";
      position: absolute;
      left: 0px;
      bottom: -10px;
      background-color: #Bd960b;
      height: 2px;
      width: 50px;
      box-sizing: border-box;
}
.row
{
      padding: 40px 20px;
}
.footer_col ul li:not(:last-child)
{
      margin-bottom: 10px;
}
.footer_col ul li a
{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;  
    font-weight: 300;
    color: #000;
     transition: all 0.3s ease;
}
.footer_col ul li 
{
list-style: none;
text-decoration: none;
}
.footer_col ul li a:hover
{
      padding: 8px;
      color: #2c2405;
}
.footer_col .social_media a
{
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin: 0 10px 10px 0;
      line-height: 40px;
      border-radius: 50%;
      color: rgb(245, 238, 238);
      transition: all 0.5s ease;
      text-align: center;
      display: inline-block;
      justify-content: center;
}
.footer_col .social_media a:hover
{
 color: #Bd960b;
 background-color: #fff;     
}
.footer_col .inputbox
{
      position: relative;
      width: 100%;
      margin-top: 10px;
}
.footer_col .inputbox input
{
   width: 80%;
   padding: 5px 0;
   font-size: 24px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px solid #333;
   outline: none; 
   resize: none;  
   border-radius: 10px;
}
.footer_col .inputbox span
{
    position: absolute;
    left: 0;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     pointer-events: none;
     transition: 0.5s;
     color: #666; 
    
}
.footer_col .inputbox input:focus ~ span,
.footer_col .inputbox input:valid ~ span
{
      color: #Bd960b;
      font-size: 12px;
      transform: translateY(-20px);
}
.footer_col .inputbox input[type="submit"]
{
      width: 100px;
      background: #Bd960b;
      color:#fff;
      border: none;
      cursor: pointer;
      padding: 10px;
      font-size: 18px;
      justify-content: center;
}
main
{
      display: grid;
      grid-template-columns: 1fr 1fr;
}
.row
{
      display: flex;
      grid-template-columns: 15% 15% 35% 35%;
      background-color: #34495e;
      justify-content: center;
}